---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <main id="main-content">
    <section id="hero">
      <Header />
      <h1>Joseph Seagal</h1>
      <p>
      
      </p>
      {
        <div class="social-wrapper">
          <div class="social-links">Phone Number:</div>
          (267) 709 - 0112
        </div>
      }
      {
        <div class="social-wrapper">
          <div class="social-links">Email:</div>
          <a href="mailto:josephseagal0@gmail.com"><span class="orange-text">josephseagal0@gmail.com</span></a>
        </div>
      }
      {
        <div class="social-wrapper">
          <div class="social-links">LinkedIn:</div>
          
          <a href="https://www.linkedin.com/in/joseph-seagal"><span class="orange-text">joseph-seagal</span></a>
        </div>
      }

    </section>

    {
      featuredPosts.length > 0 && (
        <>
          <section id="education">
            <h2>Education</h2>
            <div class="empty-line"></div>

            <Hr />

            <div class="empty-line"></div>
            <h3>Drexel University</h3>
            <p>
            Bachelor of Science in Computer Science
            </p>
            <div class="empty-line"></div>
            <h3>Relevant Coursework</h3>
            <p>
            Computing & Informatics Design I, II, III, Data Structures, Math Foundations of Computer Science, Advanced Programming Tools & Techniques, Computer Programming I, II, Software Architecture I
            </p>
          </section>
        </>
      )
    }

    {
      featuredPosts.length > 0 && (
        <>
          <section id="skills">
            <h2>Skills</h2>
            <div class="empty-line"></div>

            <Hr />

            <div class="empty-line"></div>
            <h3>Programming Languages:</h3>
            <p>
            Python, Java, C/C++, C#, JavaScript, Shell Scripts, Racket
            </p>
            <div class="empty-line"></div>
            <h3>Developer Tools:</h3>
            <p>
            GitHub, GitLab, Visual Studio Code/Community, IntelliJ, Unity
            </p>
            <div class="empty-line"></div>
            <h3>Other Tools and OS:</h3>
            <p>
            SharePoint, MS Office, Uniflow, Citrix, EMS, Microsoft Teams, Linux, Windows
            </p>
          </section>
        </>
      )
    }

    {
      featuredPosts.length > 0 && (
        <>
          <section id="experience">
          
            <h2>Experience</h2>
            <div class="empty-line"></div>

            <Hr />

            <div class="empty-line"></div>
            
            <div>
              <div id ="titleLabels"><h3>National Board of Medical Examiners</h3></div>(<a href="https://www.nbme.org/"><span class="orange-text">www.nbme.org</span></a>)
            </div>
            <i>Collaborative Services Engineer (Apr. 2023 - Sep. 2023)</i>
            <ul>
              <li>Configured servers for the deployment of EMS Office Hoteling and Desk Booking software (<a href="https://www.emssoftware.com/"><span class="orange-text">emssoftware.com</span></a>),providing ongoing support and maintenance for optimal functionality, using Citrix workspace</li>
              <li>Utilized the ServiceNow ticketing system to assist internal users with a range of tools and software, includingSharePoint, MS Office, Uniflow, Citrix, EMS, and Microsoft Teams</li>
              <li>Collaborated with team members on troubleshooting, testing, and implementing of software upgrades on servers</li>
              <li>Designed and developed internal websites leveraging SharePoint tools to implement documentation libraries,lists, search functionality, and robust security and permissions features</li>
              <li>Provided support and administration for servers using Citrix Workspace, managing security and permissions</li>
            </ul>

            <div class="empty-line"></div>

            <div>
              <div id ="titleLabels"><h3>Drexel University</h3></div>(IT Department)
            </div>
            <i>Computer Technician (Sep. 2022 - Mar. 2023)</i>
            <ul>
              <li>Participated in testing, troubleshooting, and disassembling computer equipment for components used in repair</li>
              <li>Performed routine inspections of computer labs, verifying the operational status of computers and equipment</li>
              <li>Assisted in IT customer support and the organization and disposal of computers, cables, equipment, and e-waste</li>
            </ul>

            <div class="empty-line"></div>

            <h3>Seagal Solutions, INC</h3>
            <i>Project Manager (June 2023 - Present)</i>
            <ul>
              <li>Participate in customer engagement through information collection, addressing inquiries and resolving issues</li>
              <li>Schedule and take part in weekly meetings and team brainstorming sessions to facilitate effective communication</li>
              <li>Review and assess company documentation such as statements of work and proposals to customers</li>
            </ul>
            <div class="empty-line"></div>
            <i>Technician (June 2021 - Sep. 2022)</i>
            <ul>
              <li>Conducted thorough quality assurance testing for a web-based password generation application and its processes</li>
              <li>Configured Windows and Linux operating systems on servers exclusively dedicated to oncology research</li>
              <li>Enhanced system performance by upgrading desktop motherboards, memory, SSDs, GPUs, and CPUs</li>
            </ul>
          </section>
        </>
      )
    }

    {
      featuredPosts.length > 0 && (
        <>
          <section id="projects">
            <h2>Projects</h2>
            <div class="empty-line"></div>

            <Hr />

            <div class="empty-line"></div>
            <div>
              <div id ="titleLabels"><h3>Personal Website</h3></div>(<a href="https://josephseagal.com/"><span class="orange-text">josephseagal.com</span></a>)
            </div>
            <i>GitHub, Web Developer (Dec. 2023 - Present)</i>
            <ul>
              <li>Designing and developing a website with an online resume using CSS, HTML and Vercel for hosting</li>
              <li>Utilizing GitHub for version control, enabling tracking of changes during the development process of the website</li>
            </ul>
            <div class="empty-line"></div>
            <h3>Test Taking Software</h3>
            <i>IntelliJ, Software Developer (Sep. 2023 - Dec. 2023)</i>
            <ul>
              <li>Developed software encompassing survey and test creation, completion, tabulation, and grading all utilizing Java</li>
              <li>Implemented serialization functionality to facilitate the saving and loading of user-input files within the system</li>
            </ul>
            <div class="empty-line"></div>
            <h3>Banking Software</h3>
            <i>IntelliJ, Software Developer (Apr. 2022 - June 2023)</i>
            <ul>
              <li>Utilized UML to organize and visualize project elements, including classes, functions, attributes, and relationships</li>
              <li>Employed Java along with the Test Driven Development methodology to create a functional banking simulation</li>
            </ul>
            <div class="empty-line"></div>
            <h3>Platformer Game</h3>
            <i>Unity, Software Developer (Jan. 2022 - June 2022)</i>
            <ul>
              <li>Collaborated with a team of amateur software engineers on the development of a 2D platformer game, utilizing C#, Unity, and GitLab for code sharing, testing, and updates, all while adhering to the Agile methodology</li>
            </ul>
            <div class="empty-line"></div>
            <div class="empty-line"></div>
            <div class="empty-line"></div>
            <Hr />
          </section>
        </>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="https://JosephSeagal.github.io/joseph-seagal-2024/JosephSeagalResume.pdf">
      All Posts
        <svg xmlns="http://www.w3.org/2000/svg">
        <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8 text-center;
    max-width: 800px;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #education,
  #skills,
  #experience,
  #projects {
    @apply pb-6 pt-12;
    max-width: 800px;
  }
  #education h2,
  #skills h2,
  #experience h2,
  #projects h2 {
    @apply text-2xl font-semibold tracking-wide;
  }

  #education h3,
  #skills h3,
  #experience h3,
  #projects h3 {
    @apply text-lg font-semibold tracking-wide text-orange-500;
  }
  
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .empty-line {
  height: 20px; /* Adjust the height as needed */
  }
  .orange-text {
    @apply text-orange-500 font-semibold tracking-wide;
    text-decoration: underline;
  }

  ul {
  list-style: none;
  padding-top: 5px;
  padding-left: 20px;
  margin: 0;
  }

  li {
  padding-left: 20px;
  text-indent: -20px;
  margin-bottom: 10px;
  }

  li::before {
  content: "• ";
  //color: red; /* or whatever color you prefer */
  }

  #titleLabels {
   display: inline-block;
   margin-right: 10px;
  }

</style>
