---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";
import { IconDownload } from "@tabler/icons-react";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <main id="main-content">
    <section id="hero">
      <Header />
      <h1>Joseph Seagal</h1>
      <p></p>
    
      <div class="social-container">
        <!-- Top Row -->
        <div class="social-wrapper">
          <div class="social-links">Phone Number:</div>
          <a href="tel:+1-267-709-0112"><span class="orange-text">(267) 709-0112</span></a>
        </div>
        <div class="social-wrapper">
          <div class="social-links">Email:</div>
          <a href="mailto:josephseagal0@gmail.com"><span class="orange-text">josephseagal0@gmail.com</span></a>
        </div>
    
        <!-- Bottom Row -->
        <div class="social-wrapper">
          <div class="social-links">Website:</div>
          <a href="https://josephseagal.com/"><span class="orange-text">josephseagal.com</span></a>
        </div>
        <div class="social-wrapper">
          <div class="social-links">LinkedIn:</div>
          <a href="https://www.linkedin.com/in/joseph-seagal"><span class="orange-text">joseph-seagal</span></a>
        </div>
      </div>
    </section>

    {
      featuredPosts.length > 0 && (
        <>
          <section id="skills">
            <h2>Skills</h2>
            <div class="empty-line"></div>

            <Hr noPadding />

            <div class="empty-line"></div>
            <h3>Languages:</h3>
            <p>
            Python, Java, C#, TypeScript, JavaScript, GDScript, SQL, C/C++, CSS, HTML, Shell Scripts, Racket
            </p>
            <div class="empty-line"></div>
            <h3>Development:</h3>
            <p>
            Git, Visual Studio Code/Community, Godot, Unity, Playwright, Oracle Database, .NET, IntelliJ
            </p>
            <div class="empty-line"></div>
            <h3>Other Tools:</h3>
            <p>
            SharePoint, Jira, Confluence, MS Office, Uniflow, Citrix, EMS, Microsoft Teams, Linux, Windows
            </p>
          </section>
        </>
      )
    }

    {
      featuredPosts.length > 0 && (
        <>
          <section id="experience">
          
            <h2>Experience</h2>
            <div class="empty-line"></div>

            <Hr noPadding />

            <div class="empty-line"></div>
            
            <div>
              <div id ="titleLabels"><h3>Chan Soon-Shiong Institute of Molecular Medicine at Windber</h3></div>(<a href="https://www.wriwindber.org/"><span class="orange-text">www.wriwindber.org</span></a>)
            </div>
            <i>Software Engineer (Apr. 2024 - Sep. 2024)</i>
            <ul>
              <li>Developed and maintained pivotal projects DTS-MCC, DTS-APOLLO, and Data Warehouse as part of the Cancer Moonshot initiative, driving technological advancements to accelerate breakthroughs in cancer research</li>
              <li>Generated data extracts and reports using Oracle databases and SQL for the development of CAP eCC forms</li>
              <li>Documented and showcased value of automated testing to the broader business through SOPs and demonstrations</li>
              <li>Created a test framework within an agile methodology, significantly reducing manual testing time and accelerating development cycles resulting in more efficient releases</li>
              <li>Designed specialized end-to-end tests using Playwright, including simulated user interactions and database verification, to ensure coverage across development, quality assurance, staging, and production environments</li>
              <li>Implemented automated smoke tests for CI/CD pipeline to proactively catch regression issues with each code push, resulting in reliable releases with fewer defects</li>

            </ul>

            <div class="empty-line"></div>

            <div>
              <div id ="titleLabels"><h3>National Board of Medical Examiners</h3></div>(<a href="https://www.nbme.org/"><span class="orange-text">www.nbme.org</span></a>)
            </div>
            <i>Collaborative Services Engineer (Apr. 2023 - Sep. 2023)</i>
            <ul>
              <li>Configured servers using Citrix Workspace to troubleshoot, test, and deploy software upgrades, as well as to manage security and user permissions</li>
              <li>Engineered infrastructure and provided ongoing support for multiple servers hosting business-critical tools such as EMS Office Hoteling and Desk Booking Software to ensure reliability for employees and clients</li>
              <li>Collaborated with team members using ServiceNow ticketing system to assist workers with various software including MS Office, Uniflow, and Microsoft Teams</li>
              <li>Crafted internal websites using SharePoint to implement documentation libraries, forms, search functionality, and administrative features</li>
            </ul>

            <div class="empty-line"></div>

            <div>
              <div id ="titleLabels"><h3>Drexel University</h3></div>(IT Department)
            </div>
            <i>Computer Technician (Sep. 2022 - Mar. 2023)</i>
            <ul>
              <li>Conducted hardware testing, troubleshooting, and component disassembly to support repair and maintenance processes</li>
              <li>Performed inspections and diagnostics in computer labs, ensuring operational status and completing repairs if needed</li>
              <li>Provided IT support and managed the organization of legacy hardware, cables, and e-waste</li>
            </ul>

            <div class="empty-line"></div>

            <h3>Seagal Solutions, Inc</h3>
            <i>Project Manager/Support (June 2021 - Sep. 2023)</i>
            <ul>
              <li>Engaged customers by gathering information, resolving inquiries, and facilitating team communication through weekly meetings and brainstorming sessions</li>
              <li>Assessed and contributed to the creation of company documentation, including statements of work and proposals</li>
              <li>Configured Windows and Linux operating systems on servers exclusively dedicated to oncology research</li>
            </ul>

            <div class="empty-line"></div>

            <div>
              <div id ="titleLabels"><h3>First Inspires</h3></div>(<a href="https://www.firstinspires.org/"><span class="orange-text">www.firstinspires.org</span></a>)
            </div>
            <i>Volunteer (Sep. 2019 - June 2021)</i>
            <ul>
              <li>Participated in tournaments by assisting staff with the set up of competition materials and clearing the area after the tournament was completed</li>
              <li>Aided the organization by ensuring that the competing teams are qualified to take part in challenges</li>
            </ul>

            <div class="empty-line"></div>

            <div>
              <div id ="titleLabels"><h3>Robolancers at Central High School</h3></div>(<a href="https://robolancers.com/"><span class="orange-text">robolancers.com</span></a>)
            </div>
            <i>Mechanical Team Leader (Sep. 2019 - June 2021)</i>
            <ul>
              <li>Collaborated with ten team members to build and program a robot that would compete in tournaments</li>
              <li>Managed the team to complete tasks in an efficient manner that kept up with deadlines</li>
            </ul>
            
          </section>
        </>
      )
    }

    {
      featuredPosts.length > 0 && (
        <>
          <section id="education">
            <h2>Education</h2>
            <div class="empty-line"></div>

            <Hr noPadding />

            <div class="empty-line"></div>
            <h3>Drexel University</h3>
            <p>
            <i>Bachelor of Science in Computer Science (Sep. 2021 - June 2026)</i>
            </p>
            <div class="empty-line"></div>
            <h3>Relevant Coursework</h3>
            <p>
            Data Structures | Advanced Programming Tools & Techniques | Math Foundations of Computer Science | Systems Architecture | Software Architecture I | Modern Processor Design | Computing & Informatics Design I, II, III | Computer Programming I, II
            </p>
          </section>
        </>
      )
    }

    {
      featuredPosts.length > 0 && (
        <>
          <section id="projects">
            <h2>Projects</h2>
            <div class="empty-line"></div>

            <Hr noPadding/>

            <div class="empty-line"></div>
            <div>
              <div id ="titleLabels"><h3>Sunset System (Game)</h3></div>(<a href="https://www.sunset-system.com/"><span class="orange-text">www.sunset-system.com</span></a>)
            </div>
            <i>Godot, Software Developer (July 2024 - Present)</i>
            <ul>
              <li>Developing a hand-drawn platformer following a cleaning robot in a retro futuristic mall with several team members</li>
              <li>Utilizing Godot engine to rapidly engineer new features and in-game entities using a custom-designed module system</li>
              <li>Crafted a system that enables players to command AI agents powered by behavior trees, allowing dynamic interactions directly within the game world</li>
            </ul>
            <div class="empty-line"></div>
            <div>
              <div id ="titleLabels"><h3>Personal Website</h3></div>(<a href="https://josephseagal.com/"><span class="orange-text">josephseagal.com</span></a>)
            </div>
            <i>GitHub, Web Developer (Dec. 2023 - Present)</i>
            <ul>
              <li>Designing and developing a website with an online resume using CSS, HTML and Vercel for hosting</li>
              <li>Utilizing GitHub for version control, enabling tracking of changes during the development process of the website</li>
            </ul>
            <div class="empty-line"></div>
            <h3>Test Taking Software</h3>
            <i>IntelliJ, Software Developer (Sep. 2023 - Dec. 2023)</i>
            <ul>
              <li>Developed software encompassing survey and test creation, completion, tabulation, and grading all utilizing Java</li>
              <li>Implemented serialization functionality to facilitate the saving and loading of user-input files within the system</li>
            </ul>
            <div class="empty-line"></div>
            <h3>Banking Software</h3>
            <i>IntelliJ, Software Developer (Apr. 2022 - June 2023)</i>
            <ul>
              <li>Utilized UML to organize and visualize project elements, including classes, functions, attributes, and relationships</li>
              <li>Employed Java along with the Test Driven Development methodology to create a functional banking simulation</li>
            </ul>
            <div class="empty-line"></div>
            <h3>Platformer Game</h3>
            <i>Unity, Software Developer (Jan. 2022 - June 2022)</i>
            <ul>
              <li>Collaborated with a team of amateur software engineers on the development of a 2D platformer game, utilizing C#, Unity, and GitLab for code sharing, testing, and updates, all while adhering to the Agile methodology</li>
            </ul>
            <div class="empty-line"></div>
            {/* <Hr noPadding/> */}
          </section>
        </>
      )
    }

    <div class="all-posts-btn-wrapper">
      
  
      <a href="/JosephSeagalResume.pdf" download >
      Download Resume
      <IconDownload />
      </a>
      <div class="empty-line"></div>
      <div class="empty-line"></div>

      <Hr noPadding/>
      
    </div>
    
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8 text-center;
    max-width: 900px;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  /* Grid container with two rows */
  .social-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 20px; /* Adds space between items */
    justify-items: center;
  }

  .social-wrapper {
    display: flex;
    align-items: center; /* Aligns text and link horizontally */
  }

  .social-links {
    font-weight: bold;
    margin-right: 8px; /* Space between label and link */
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #education,
  #skills,
  #experience,
  #projects {
    @apply pb-6 pt-12;
    max-width: 800px;
  }
  #education h2,
  #skills h2,
  #experience h2,
  #projects h2 {
    @apply text-2xl font-semibold tracking-wide;
  }

  #education h3,
  #skills h3,
  #experience h3,
  #projects h3 {
    @apply text-lg font-semibold tracking-wide text-orange-500;
  }
  
  .all-posts-btn-wrapper {
    margin-top: 20px; /* Adjust the value as needed */
    margin-bottom: 20px; /* Add margin bottom to balance the space */
    text-align: center; 
  }
  .empty-line {
  height: 20px; /* Adjust the height as needed */
  }
  .orange-text {
    @apply text-orange-500 font-semibold tracking-wide;
    text-decoration: underline;
  }

  ul {
  list-style: none;
  padding-top: 5px;
  padding-left: 20px;
  margin: 0;
  }

  li {
  padding-left: 20px;
  text-indent: -20px;
  margin-bottom: 10px;
  }

  li::before {
  content: "• ";
  /*color: red; */
  }

  #titleLabels {
  display: inline-block;
  margin-right: 10px;
  }

</style>
